.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.Logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}
.Logo-container h1 {
  color: #111;
  text-decoration: none;
}
.App-logo {
  height: 4vmin;
  pointer-events: none;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.nav a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.nav a:hover {
  color: #61dafb;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media (max-width: 900px) {
  .App-header {
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 750px) {
  .navbar {
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .nav {
    flex-wrap: wrap;
  }
}
